body {
    background-color:#0A1931;
    color: whitesmoke;
    }
h1 {
    color: #185adb;
}
h3 {
    color: #185adb;
}
hr {
    border-color:#FFC947;
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    }
img {
    height: 360px;
    width: 480px;
    }